footer#footer
    .gwr
        p Master Elite All rights reserved 2017 ©
        span.info-trem Design  +  Powered by 
            a(href="http://www.tremgroup.com/", target="_blank", title="Trem Group") trem
                span group