header#header
    .wrap-options
        .gwr
            ul#user-options
                li.login.icon-login: a(href="#", title="#") Sign in
                li.register: a(href="#", title="#") Register
            ul.social-networks
                li.icon-facebook: a(href="#", title="#", target="_blank") Facebook
                li.icon-twitter: a(href="#", title="#", target="_blank") Twitter
                li.icon-google-plus: a(href="#", title="#", target="_blank") Google+
                li.icon-instagram: a(href="#", title="#", target="_blank") Instagram
                li.icon-linkedin: a(href="#", title="#", target="_blank") Linked In
            ul#available-languages
                li.english.active
                    span EN
                    button(data-iso="us", title="English") English
                li.russian
                    span RU
                    button(data-iso="ru", title="Russian") Pусский
                li.spanish
                    span ES
                    button(data-iso="es", title="#") Spanish
                li.portuguese
                    span BR
                    button(data-iso="br", title="#") Português
                li.french
                    span FR
                    button(data-iso="fr", title="#") Français
                li.italy
                    span IT
                    button(data-iso="it", title="#") Italy
                li.german
                    span DE
                    button(data-iso="de", title="#") Deutsch
                li.chinese
                    span ZH
                    button(data-iso="zh", title="#") 中文
            a(href="tel:305.705.5000", title="Call Us")#call-us Call Us: 305.705.5000
    .wrap-menu
        .gwr
            a(href="#", title="#").title
                img.logo(src="../images/logo.png", title="logo", alt="Tremgroup")
            nav
                ul
                    li.current-menu-item: a(href="#", title="#") Search
                    li.menu-item-has-children
                        a(href="http://www.google.com", title="#") Neighborhoods
                        ul
                            li: a(href="#", title="#") All Neighborhoods
                            li: a(href="#", title="#") Allison Island
                            li: a(href="#", title="#") Aventura
                            li: a(href="#", title="#") Bal Harbour
                            li: a(href="#", title="#") Bay Harbor Islands
                            li: a(href="#", title="#") Bay Point
                    li.menu-item-has-children
                        a(href="http://www.google.com", title="#") Buildings
                        ul
                            li: a(href="#", title="#") All Buildings
                            li: a(href="#", title="#") Aventura
                            li: a(href="#", title="#") Bal Harbour
                            li: a(href="#", title="#") Brickell/ Brickell Key
                            li: a(href="#", title="#") Coconut Grove
                    li: a(href="#", title="#") New Construction
                    li: a(href="#", title="#") My Listings
                    li: a(href="#", title="#") About
                    li: a(href="#", title="#") News
                    li: a(href="#", title="#") Testimonials
                    li: a(href="#", title="#") Contact
            button#hamburger
                span Menu responsive
